### Proyecto Individual

##### Objetivo
Crear un modelo de ML que soluciona un problema de negocio: un sistema de recomendación que aún no ha sido puesto en marcha!

In [146]:
# Se importan las bibliotecas de Python que van a ser utilizadas en el desarrollo

import pandas as pd
import numpy as np
import ast

A través de pandas se realiza el cargue de los archivo movies_dataset.csv y credits.csv en donde se encuentran los datos alojados. Se denominan los dataframe como "df_movies" y "df_credits"

In [147]:

df_movies= pd.read_csv('/Users/user/Library/Mobile Documents/com~apple~CloudDocs/Henry/Proyecto Individual/movies_dataset.csv')
df_credits= pd.read_csv('/Users/user/Library/Mobile Documents/com~apple~CloudDocs/Henry/Proyecto Individual/credits.csv')

/var/folders/7y/htcgg47n5qs8zzpjy61wzmxc0000gn/T/ipykernel_5876/92937370.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df_movies= pd.read_csv('/Users/user/Library/Mobile Documents/com~apple~CloudDocs/Henry/Proyecto Individual/movies_dataset.csv')

Se realiza una primera revisión de los dataset a traves de df.head(), df.describe y df.info

In [148]:
df_movies.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [149]:
df_movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

In [150]:
df_movies.describe()

            revenue       runtime  vote_average    vote_count
count  4.546000e+04  45203.000000  45460.000000  45460.000000
mean   1.120935e+07     94.128199      5.618207    109.897338
std    6.433225e+07     38.407810      1.924216    491.310374
min    0.000000e+00      0.000000      0.000000      0.000000
25%    0.000000e+00     85.000000      5.000000      3.000000
50%    0.000000e+00     95.000000      6.000000     10.000000
75%    0.000000e+00    107.000000      6.800000     34.000000
max    2.787965e+09   1256.000000     10.000000  14075.000000

In [151]:
df_credits.head()

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862

In [152]:
df_credits.describe()

                  id
count   45476.000000
mean   108345.997537
std    112443.796536
min         2.000000
25%     26443.250000
50%     60002.500000
75%    157302.000000
max    469172.000000

Se construye la función para realizar el desanidado de la columna anidada 'belongs_to_collection' donde los valores de las columnas se encuentran en listas de diccionarios.

In [153]:
# Función para desanidar la columna 'belongs_to_collection'
def extraer_collection_name(collection):
    if pd.isnull(collection):
        return np.nan
    else:
        try:
            return ast.literal_eval(collection)['name']
        except (ValueError, TypeError):
            return np.nan

# Luego aplicamos la funcion a 'belongs_to_collection'
df_movies['belongs_to_collection'] = df_movies['belongs_to_collection'].apply(extraer_collection_name)

In [154]:
df_movies.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,Toy Story Collection,30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,Grumpy Old Men Collection,0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,Father of the Bride Collection,0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

Una vez desanidada la columna 'belongs_to_collection', pasamos a construir la función
para aquellas columnas cuyos valores se encuentran dentro listas

In [155]:
def extraer_valores_listas(column):
    if pd.isnull(column):
        return np.nan
    else:
        try:
            values = ast.literal_eval(column)
            if isinstance(values, list):
                return ', '.join([value['name'] for value in values])
            else:
                return np.nan
        except (ValueError, SyntaxError):
            return np.nan

Con df.apply se realiza la aplicación de la función "extraer_list_values" a las columas "production_companies", "production_countries", "spoken_languages" y "genres". Los tipos de datos de estas columnas son listas las cuales deben ser desanidadas a través de la función extraer_valores_listas

In [156]:
df_movies['production_companies'] = df_movies['production_companies'].apply(extraer_valores_listas)
df_movies['production_countries'] = df_movies['production_countries'].apply(extraer_valores_listas)
df_movies['spoken_languages'] = df_movies['spoken_languages'].apply(extraer_valores_listas)
df_movies['genres'] = df_movies['genres'].apply(extraer_valores_listas)

In [157]:
# Se Valida que la aplicación de la función sea correcta, tomando como muestra la columna
# 'spoken_languages'
df_movies['production_companies']

0                                  Pixar Animation Studios
1        TriStar Pictures, Teitler Film, Interscope Com...
2                             Warner Bros., Lancaster Gate
3                   Twentieth Century Fox Film Corporation
4               Sandollar Productions, Touchstone Pictures
                               ...
45461
45462                                          Sine Olivia
45463                              American World Pictures
45464                                            Yermoliev
45465
Name: production_companies, Length: 45466, dtype: object

##### Los valores nulos de los campos revenue, budget deben ser rellenados por el número 0.

In [158]:
import ast
df_movies['belongs_to_collection'].fillna('{}', inplace=True)

1. Identificamos los valores nulos de las columnas Revenue y Budget

In [159]:

df_movies.isnull().sum()

adult                        0
belongs_to_collection        0
budget                       0
genres                       0
homepage                 37684
id                           0
imdb_id                     17
original_language           11
original_title               0
overview                   954
popularity                   5
poster_path                386
production_companies         6
production_countries         6
release_date                87
revenue                      6
runtime                    263
spoken_languages             6
status                      87
tagline                  25054
title                        6
video                        6
vote_average                 6
vote_count                   6
dtype: int64

2. Reemplazamos los valores nulos de las columnas Revenue y Budget con 0

In [160]:

df_movies['revenue'].fillna(0, inplace=True)
df_movies['budget'].fillna(0, inplace=True)

#### Se eliman los valores nulos de la columna release_date

In [161]:

df_movies.dropna(subset=['release_date'], inplace=True)

**Se realiza la Conversión de la columna 'Release_date' al formato de fecha AAAA-mm-dd**

In [162]:


df_movies['release_date'] = pd.to_datetime(df_movies['release_date'], errors='coerce')

# Crear la columna 'release_year' con el año de la fecha de estreno
df_movies['release_year'] = df_movies['release_date'].dt.year

# Mostrar el DataFrame actualizado
df_movies['release_date']
df_movies['release_year']
# Convertir la columna "release_year" a enteros
df_movies['release_year'] = df_movies['release_year'].astype('Int64')
df_movies['release_year']

0        1995
1        1995
2        1995
3        1995
4        1995
         ...
45460    1991
45462    2011
45463    2003
45464    1917
45465    2017
Name: release_year, Length: 45379, dtype: Int64

Crear la columna con el retorno de inversión, llamada return con los campos revenue y budget, dividiendo estas dos últimas revenue / budget, cuando no hay datos disponibles para calcularlo, deberá tomar el valor 0.

In [163]:
#1. Realizamos el cambio de tipo de dato de las columnas revenue y budget


df_movies['revenue'] = pd.to_numeric(df_movies['revenue'], errors='coerce')
df_movies['budget'] = pd.to_numeric(df_movies['budget'], errors='coerce')

# Rellenar NaN con 0
df_movies['revenue'].fillna(0, inplace=True)
df_movies['budget'].fillna(0, inplace=True)

# Convertir a enteros
df_movies['revenue'] = df_movies['revenue'].astype(int)
df_movies['budget'] = df_movies['budget'].astype(int)


df_movies['revenue'] = df_movies['revenue'].astype(int)
df_movies['budget'] = df_movies['budget'].astype(int)


df_movies['return'] = df_movies['revenue'] / df_movies['budget']
df_movies['return'].fillna(0, inplace=True)

Realizamos la limpieza de los datos, eliminando las columnas 'video','imdb_id','adult','original_title','poster_path', 'homepage' que no se van a utilizar

In [164]:

movies= df_movies.drop(['video','imdb_id','adult','original_title','poster_path', 'homepage'], axis=1)
movies.columns

Index(['belongs_to_collection', 'budget', 'genres', 'id', 'original_language',
       'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count', 'release_year', 'return'],
      dtype='object')

##### Concatenación ambos datasets
Una vez realizada el ETL de los datos de movies, se realiza la concatenación con el dataset credits unidos por la columna en común 'id'

In [165]:
type(movies['id'][0]), type(df_credits['id'][0])

(str, numpy.int64)

Toda vez los tipos de datos de las columnas 'id' en los dataset de movies y df_credits son distintos, se pasa a realizar la conversión del tipo de datos la columna 'id'en movies int64

In [166]:



movies['id'] = pd.to_numeric(movies['id'], errors='coerce')

In [167]:
type(movies['id'][0]), type(df_credits['id'][0])

(numpy.float64, numpy.int64)

Una vez se tienen ambas columnas con formatos en los que se pueden realizar el pd.merge, realizamos la unión de ambos datasets, con el fin de facilitar las búsquedas que se realizarán con las funciones a desarrollar.

In [168]:
df_merged= pd.merge(movies, df_credits, on='id')

##### Se crea 6 funciones para los endpoints que se consumirán en la API

def peliculas_idioma( Idioma: str ): Se ingresa un idioma (como están escritos en el dataset, no hay que traducirlos!). Debe devolver la cantidad de películas producidas en ese idioma.
                    Ejemplo de retorno: X cantidad de películas fueron estrenadas en idioma

def peliculas_duracion( Pelicula: str ): Se ingresa una pelicula. Debe devolver la duracion y el año.
                    Ejemplo de retorno: X . Duración: x. Año: xx

def franquicia( Franquicia: str ): Se ingresa la franquicia, retornando la cantidad de peliculas, ganancia total y promedio
                    Ejemplo de retorno: La franquicia X posee X peliculas, una ganancia total de x y una ganancia promedio de xx

def peliculas_pais( Pais: str ): Se ingresa un país (como están escritos en el dataset, no hay que traducirlos!), retornando la cantidad de peliculas producidas en el mismo.
                    Ejemplo de retorno: Se produjeron X películas en el país X

def productoras_exitosas( Productora: str ): Se ingresa la productora, entregandote el revunue total y la cantidad de peliculas que realizo.
                    Ejemplo de retorno: La productora X ha tenido un revenue de x

def get_director( nombre_director ): Se ingresa el nombre de un director que se encuentre dentro de un dataset debiendo devolver el éxito del mismo medido a través del retorno. Además, deberá devolver el nombre de cada película con la fecha de lanzamiento, retorno individual, costo y ganancia de la misma, en formato lista.

In [169]:
def peliculas_idioma(df, idioma):
    # Filtrar el DataFrame por el idioma especificado
    peliculas_filtradas = df[df['original_language'] == idioma]

    # Obtener la cantidad de películas en el idioma especificado
    cantidad_peliculas = peliculas_filtradas.shape[0]

    return cantidad_peliculas

# Suponiendo que ya tienes el DataFrame llamado 'movies'
# movies = pd.read_csv('nombre_del_archivo.csv')

# Llamada a la función y obtener el resultado
idioma_ingresado = 'en'  # Reemplaza 'en' con el idioma que desees buscar
cantidad_peliculas_en_idioma = peliculas_idioma(movies, idioma_ingresado)
print(f"{cantidad_peliculas_en_idioma} cantidad de películas fueron estrenadas en idioma '{idioma_ingresado}'.")

32202 cantidad de películas fueron estrenadas en idioma 'en'.

In [170]:


def peliculas_duracion(Pelicula: str):
    # Filtrar el DataFrame para obtener la fila correspondiente a la película
    pelicula_filtrada = movies[movies['title'] == Pelicula]

    # Verificar si la película existe en el DataFrame
    if pelicula_filtrada.empty:
        return "La película no fue encontrada en el dataset."

    # Obtener la duración y el año de lanzamiento
    duracion = pelicula_filtrada['runtime'].values[0]
    anio = pelicula_filtrada['release_year'].values[0]

    # Retornar el mensaje con la duración y el año
    return f"{Pelicula}. Duración: {duracion}. Año: {anio}"

# Ejemplo de uso
pelicula_buscada = "The Dark Knight"  # Ingresa aquí el título de la película que deseas buscar
resultado = peliculas_duracion(pelicula_buscada)
print(resultado)

The Dark Knight. Duración: 152.0. Año: 2008

In [171]:
def franquicia(Franquicia: str):
    franquicia_data = movies[movies['belongs_to_collection'] == Franquicia]

    cantidad_peliculas = franquicia_data.shape[0]
    ganancia_total = franquicia_data['revenue'].sum()
    ganancia_promedio = ganancia_total / cantidad_peliculas

    mensaje_retorno = f"La franquicia {Franquicia} posee {cantidad_peliculas} películas, una ganancia total de {ganancia_total:.2f} y una ganancia promedio de {ganancia_promedio:.2f}"
    return mensaje_retorno

In [172]:
franquicia('Toy Story Collection')

'La franquicia Toy Story Collection posee 3 películas, una ganancia total de 1937890605.00 y una ganancia promedio de 645963535.00'

In [173]:
def peliculas_pais(Pais: str):
    cantidad_peliculas = movies['production_countries'].str.contains(Pais).sum()
    mensaje_retorno = f"Se produjeron {cantidad_peliculas} películas en el país {Pais}"
    return mensaje_retorno

In [174]:
peliculas_pais('United States')

'Se produjeron 21148 películas en el país United States'

In [175]:
def productoras_exitosas(Productora: str):
    # Llenar los valores NaN en la columna 'production_companies' con una cadena vacía ('')
    movies['production_companies'] = movies['production_companies'].fillna('')

    productora_data = movies[movies['production_companies'].str.contains(Productora)]

    cantidad_peliculas = productora_data.shape[0]
    revenue_total = productora_data['revenue'].sum()

    mensaje_retorno = f"La productora {Productora} ha tenido un revenue de {revenue_total:.2f} en {cantidad_peliculas} películas"
    return mensaje_retorno

In [176]:
productoras_exitosas('Warner Bros.')

'La productora Warner Bros. ha tenido un revenue de 67156995259.00 en 1374 películas'

In [177]:
def get_director(nombre_director):
    director_data = df_merged[df_merged['crew'].apply(lambda crew: isinstance(crew, list) and any(Director['name'] == nombre_director for Director in crew))]

    exito_director = director_data.shape[0]  # Número de películas dirigidas por el director

    # Lista para almacenar la información de cada película
    #peliculas_info = []

    #for index, row in director_data.iterrows():
        # Información de la película
        #nombre_pelicula = row['title']
        #fecha_lanzamiento = row['release_date']
        #retorno_individual = row['revenue'] / row['budget']  # Cálculo del retorno individual
        #costo = row['budget']
        #ganancia = row['revenue']

        # Agregar la información a la lista de películas
        #peliculas_info.append({
            #'nombre_pelicula': nombre_pelicula,
            #'fecha_lanzamiento': fecha_lanzamiento,
            #'retorno_individual': retorno_individual,
            #'costo': costo,
            #'ganancia': ganancia
        #})

    mensaje_retorno = {exito_director}
    return mensaje_retorno

In [178]:
get_director('John Lasseter')

{0}

In [179]:
def extraer_director(crew):
    if pd.isnull(crew):
        return np.nan
    else:
        try:
            crew_list = ast.literal_eval(crew)
            for member in crew_list:
                if member['job'] == 'Director':
                    return member['name']
            return np.nan
        except (ValueError, TypeError):
            return np.nan

In [180]:
df_merged['crew']=df_merged['crew'].apply(extraer_director)

In [181]:
df_merged['crew']

0           John Lasseter
1            Joe Johnston
2           Howard Deutch
3         Forest Whitaker
4           Charles Shyer
               ...
45446          John Irvin
45447            Lav Diaz
45448      Mark L. Lester
45449    Yakov Protazanov
45450       Daisy Asquith
Name: crew, Length: 45451, dtype: object

In [182]:
df_merged.columns

Index(['belongs_to_collection', 'budget', 'genres', 'id', 'original_language',
       'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count', 'release_year', 'return', 'cast', 'crew'],
      dtype='object')

In [183]:
df_merged.to_csv('movies_cleaned.csv', index=False)

In [184]:
df1=pd.read_csv('/Users/user/Library/Mobile Documents/com~apple~CloudDocs/Henry/Proyecto Individual/movies_cleaned.csv')

In [185]:
def peliculas_idioma(Idioma: str):
    # Filtrar el DataFrame por el idioma especificado
    peliculas_filtradas = df_merged[df_merged['original_language'] == Idioma]

    # Obtener la cantidad de películas en el idioma especificado
    cantidad_peliculas = peliculas_filtradas.shape[0]

    return cantidad_peliculas

In [186]:
peliculas_idioma('es')

991

In [187]:
def get_director(nombre_director: str):
    resultado = []
    director_data = df_merged[df_merged['crew'] == nombre_director]
    
    if not director_data.empty:
        for _, row in director_data.iterrows():
            pelicula_info = {
                "nombre_pelicula": row['title'],
                "fecha_lanzamiento": row['release_date'],
                "retorno_individual": row['return'],
                "costo": row['budget'],
                
            }
            resultado.append(pelicula_info)
        return resultado
    else:
        return {"message": "El director no se encuentra en el dataset"}

In [188]:
get_director('Michael Mann')

[{'nombre_pelicula': 'Heat',
  'fecha_lanzamiento': Timestamp('1995-12-15 00:00:00'),
  'retorno_individual': 3.123946966666667,
  'costo': 60000000},
 {'nombre_pelicula': 'The Last of the Mohicans',
  'fecha_lanzamiento': Timestamp('1992-09-25 00:00:00'),
  'retorno_individual': 1.8876464,
  'costo': 40000000},
 {'nombre_pelicula': 'The Insider',
  'fecha_lanzamiento': Timestamp('1999-10-28 00:00:00'),
  'retorno_individual': 0.6698879111111111,
  'costo': 90000000},
 {'nombre_pelicula': 'Manhunter',
  'fecha_lanzamiento': Timestamp('1986-08-14 00:00:00'),
  'retorno_individual': 0.5747286,
  'costo': 15000000},
 {'nombre_pelicula': 'Ali',
  'fecha_lanzamiento': Timestamp('2001-12-11 00:00:00'),
  'retorno_individual': 0.8197553738317757,
  'costo': 107000000},
 {'nombre_pelicula': 'Thief',
  'fecha_lanzamiento': Timestamp('1981-03-27 00:00:00'),
  'retorno_individual': inf,
  'costo': 0},
 {'nombre_pelicula': 'The Keep',
  'fecha_lanzamiento': Timestamp('1983-12-16 00:00:00'),
  'retorno_individual': 0.6102928333333333,
  'costo': 6000000},
 {'nombre_pelicula': 'Collateral',
  'fecha_lanzamiento': Timestamp('2004-08-04 00:00:00'),
  'retorno_individual': 3.3502198615384615,
  'costo': 65000000},
 {'nombre_pelicula': 'Miami Vice',
  'fecha_lanzamiento': Timestamp('2006-07-27 00:00:00'),
  'retorno_individual': 1.2132926592592592,
  'costo': 135000000},
 {'nombre_pelicula': 'Public Enemies',
  'fecha_lanzamiento': Timestamp('2009-07-01 00:00:00'),
  'retorno_individual': 2.67630775,
  'costo': 80000000},
 {'nombre_pelicula': 'The Jericho Mile',
  'fecha_lanzamiento': Timestamp('1979-03-01 00:00:00'),
  'retorno_individual': 0.0,
  'costo': 0},
 {'nombre_pelicula': 'Blackhat',
  'fecha_lanzamiento': Timestamp('2015-01-13 00:00:00'),
  'retorno_individual': 0.25361342857142855,
  'costo': 70000000}]

In [189]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity



# Crear un vectorizador CountVectorizer para los títulos de las películas
count_vectorizer = CountVectorizer(stop_words='english')
count_matrix = count_vectorizer.fit_transform(mo['title'])

# Calcular la similitud del coseno entre las películas
cosine_sim = cosine_similarity(count_matrix, count_matrix)

# Crear un diccionario que mapee los títulos de las películas con sus índices en el DataFrame
indices = pd.Series(merged_df.index, index=merged_df['title']).drop_duplicates()

def recomendacion(titulo):
    # Obtener el índice de la película ingresada
    idx = indices[titulo]

    # Calcular la similitud del coseno para todas las películas
    sim_scores = list(enumerate(cosine_sim[idx]))

    # Ordenar las películas según la similitud en orden descendente
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

    # Obtener los índices de las 5 películas más similares (excluyendo la película ingresada)
    top_indices = [i[0] for i in sim_scores[1:6]]

    # Obtener los títulos de las 5 películas más similares
    top_titles = merged_df['title'].iloc[top_indices].tolist()

    return top_titles

NameError: name 'mo' is not defined

In [ ]:
df1=pd.read_csv('/Users/user/Library/Mobile Documents/com~apple~CloudDocs/Henry/Proyecto Individual/movies_cleaned.csv')